* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0a0a0a;
  color: white;
  scroll-behavior: smooth;
}
.font-serif {
  font-family: "Playfair Display", serif;
}
.text-cusco-gold {
  color: #ca8a04;
}
